* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: #EAC014;
    height: 100vh;
    padding: 30px;
}

nav {
    background-color: #EAC014;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%; /* مهم جدًا لعمل justify-content بشكل صحيح */
    padding: 0 20px; /* مسافة جانبية لو تحب */
    z-index: 1000; /* للتأكد إنه فوق كل العناصر */
    height: 60px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-weight:normal;
    font-size: 18px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #e5e7c9;
}

nav  .logo {
    font-size: 24px;
    font-weight: bold;
    color: aliceblue;
}

main {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.main-content {
    width: 50%;
    padding: 20px;
    margin-top: 45px;
}

.main-img {
    width: 50%;
    padding: 20px;
}

.main-content h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: aliceblue;
}

.main-content p {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 20px;
    color: aliceblue;
}

.main-content button {
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 13px;
}

.admission {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 20px;
}

.admission-content {
    width: 50%;
    padding: 20px;
}

.admission-content h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
}
.admission-content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #555;
}
.admission-content button {
    padding: 10px 20px;
    background-color: #EAC014;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 13px;
}
.admission-content button:hover {
    background-color: #d4a70f;
}
.admission-img {
    width: 32%;
    padding: 0px;
}
.admission-img img {
    width: 80%;
}

.contact-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    max-width: 1200px;
    margin: auto;
}
.contact-form {
    width: 45%;
}
.contact-form h2 {
    margin-bottom: 30px;
    font-size: 24px;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 25px;
    font-size: 14px;
    outline: none;
}
.contact-form textarea {
    resize: none;
    height: 80px;
}
.contact-form button {
    background-color: #6ad1b3;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
}

.contact-form p {
    margin-top: 10px;
}
.contact-image {
    width: 45%;
    text-align: right;
}
.contact-image img {
    max-width: 100%;
}